body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}
